* {
  margin: 0;
  padding: 0;
}

.chat-0x4874578 {
  position: fixed;
  height: auto;
  width: auto;
  bottom: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 0 10px 0 0;
  background: #343541;
}

.chat-0x4874578 textarea {
  height: 100px;
  width: 290px;
  padding: 10px;
  resize: none;
  border: none;
  outline: none;
  font-size: 16px;
  background: #2c2c36;
  color: white;
  border-radius: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000061;
}

.chat-0x4874578 p {
  height: auto;
  word-wrap: break-word;
  font-size: 12px;
  width: 290px;
  max-height: 200px;
  overflow-y: auto;
  background: #2c2c36;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000061;
}

.chat-0x4874578 p::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #31323d;
}

.chat-0x4874578 p::-webkit-scrollbar {
  width: 10px;
  background-color: #31323d;
}

.chat-0x4874578 p::-webkit-scrollbar-thumb {
  background-color: #42bb9b;

  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

.chat-0x4874578 .loading {
  margin: auto;
  margin-bottom: 5px;
}

.chat-0x4874578 .info {
  position: absolute;
  width: 20px;
  bottom: 6px;
  right: 13px;
  z-index: 99;
}

.chat-0x4874578 .info-content {
  position: absolute;
  bottom: 0;
  background: #222222;
  border-radius: 10px;
  width: 236px;
  padding: 10px;
  font-size: 7px;
}

.hidden {
  display: none;
}

.settings-0x4874578 {
  margin-top: 15px;
  padding: 0 10px;
  display: flex;
}

#checkbox-code-only {
  accent-color: #42bb9b;
}

#label-code-only {
  color: #bcbcbc;
  margin-left: 10px;
}